
@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?wpps1d');
    src:    url('../fonts/icomoon.eot?wpps1d#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?wpps1d') format('truetype'),
        url('../fonts/icomoon.woff?wpps1d') format('woff'),
        url('../fonts/icomoon.svg?wpps1d#icomoon') format('svg');
    font-weight: bold;
    font-style: normal;
}

	.icon-success:before {
		content: "\e909";
		font-family: 'icomoon';
	}

/*-----------------------------------------------------------------*/
.hijau{
	background:#0AC986;
}
body
{
	
}

.bgs
{
	padding:50px;
}

.aru{
	border-radius:5px;
	box-shadow: 1px 1px 3px rgba(16, 16, 16, 0.44);
	padding:10px;
}

.bintik{
	margin-top: 1px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px dotted rgba(49, 58, 70, 0.22);
}

.img-h{
	height:50px;
}

.plh{
	border-radius: 0 0 10px 10px;
    padding: 5px;
    
}

.header{
	padding:15px;
	
}

.header h1{
	font-size:26px;
	color:white;
}

.header h2{
	font-size:20px;
	color:white;
}

.fg{
	margin-bottom:20px;
}

.navbar-brand{
	font-weight: bold;
}

h2{
	color:#996BDB;
}

h4{
	color:#996BDB;
}

