<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="/akteku/#" class="simple-text">
                    <img src='imgs/Logo_Provinsi_Kepri.png' style='width:100px;' />
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="/akteku/#">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
				
                <li>
                    <a href="/akteku/#/visimisi">
                        <i class="pe-7s-news-paper"></i>
                        <p>Visi Misi</p>
                    </a>
                </li>
				
				 <li>
                    <a href="login.php">
						<i class="pe-7s-user"></i>
						<p>Logout</p>
                    </a>
                 </li>
				
				<!--
                <li>
                    <a href="table.html">
                        <i class="pe-7s-note2"></i>
                        <p>Table List</p>
                    </a>
                </li>
                <li>
                    <a href="typography.html">
                        <i class="pe-7s-news-paper"></i>
                        <p>Typography</p>
                    </a>
                </li>
                <li>
                    <a href="icons.html">
                        <i class="pe-7s-science"></i>
                        <p>Icons</p>
                    </a>
                </li>
                <li>
                    <a href="maps.html">
                        <i class="pe-7s-map-marker"></i>
                        <p>Maps</p>
                    </a>
                </li>
                <li>
                    <a href="notifications.html">
                        <i class="pe-7s-bell"></i>
                        <p>Notifications</p>
                    </a>
                </li>
				-->
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Dinas Kependudukan dan Pencatatan Sipil - Provinsi Kepulauan Riau</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="login.php">
                                Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12" id='pages'>
						<div class="row">
					
							<div class="col-md-12">
							
								<div class='col-md-12'>
										<div class='col-md-6'>
											<select class='plh plhTh3'>
												
											</select>
										</div>			
									</div>
								<div id="sts3" class="card" >
									
								</div>
								
								
							</div>
						</div>
					
						<div class="row">
					
							<div class="col-md-12">
							
								<div class='col-md-12'>
										<div class='col-md-6'>
											<select class='plh plhTh'>
												
											</select>
										</div>			
									</div>
								<div id="sts2" class="card" >
									
								</div>
								
								
							</div>
						</div>
						<hr class='bintika'>
						<div class="row">
							<div class="col-md-12">

									<div class='col-md-12'>
										<div class='col-md-6'>
											<select class='plh kotakPlh'>
												
											</select>
											
											<select class='plh plhTh2'>
												
											</select>											
										</div>			
									</div>
									
							
								<div id="sts" class="card" >
									
								</div>
								
							</div>
						</div>
						<hr class='bintika'>
						<div class="row" style='padding-top:20px'>
							<div class="col-md-6">
								<div class="card ">
									<div class="header">
										<div class='row'>
											<div class='col-md-1'>
												<img class='img-h' src="imgs/baby.png">
											</div>
											<div class='col-md-8'>
												<h4 class="title">Data</h4>
												<p class="category">Kelahiran</p>
											</div>
										</div>
										
										
										
									</div>
									<div class="content">
										<div class="table-full-width">
											<ul class="list-group llahir" style='padding:5px'>

											</ul>
										</div>

										<div class="footer">
											<hr>
											<div class="stats">
												<button type="button" class="btn btn-info addlahir">Add</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="col-md-6">
								<div class="card ">
									<div class="header">
										<div class='row'>
											<div class='col-md-1'>
												<img class='img-h' src="imgs/file.png">
											</div>
											<div class='col-md-8'>
												<h4 class="title">Data</h4>
												<p class="category">Akte Kelahiran</p>
											</div>
										</div>
										
										
										
									</div>
									<div class="content">
										<div class="table-full-width">
											<ul class="list-group lakte" style='padding:5px'>

											</ul>
										</div>

										<div class="footer">
											<hr>
											<div class="stats">
												<button type="button" class="btn btn-info addakte">Add</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							

							
							<!--
							<div  class="col-md-3 fg">
								<div style="height:300px;background:white" class="aru">
									<center><img class='img-h' src="imgs/doc.png"></center>
									<button type="button" class="btn btn-info ">Add</button>
									<hr class='bintik' />
									<ul class="list-group luser">

									</ul>
								</div>
							</div>
							
							<div  class="col-md-3 fg">
								<div style="background:white" class="aru">
									<center><img class='img-h' src="imgs/kota.png"></center>
									<button type="button" class="btn btn-info">Add</button>
									<hr class='bintik' />
									<ul class="list-group listkota">
									  
									</ul>
								</div>
							</div>
							!-->
							
						</div>
                    </div>
                </div>
            </div>
        </div>
		
		
		
        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright pull-right">
                    Dinas Kependudukan dan Pencatatan Sipil - Provinsi Kepulauan Riau &copy; 2016
                </p>
            </div>
        </footer>

    </div>
</div>

		<div class="modal fade bs-example-modal-lg" id="modalAkte" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
				<div class="modal-dialog modal-lg">
					<div style='padding:20px;' class="modal-content">
						 <h2 id="modalKotaH2">Tambah Data Akte Kelahiran</h2>
						 <hr>
							<div class="modal-body">
								<form id="datastakte_form" name="datastkelahiran_form" method="post" action="">
								<div class="form-group">
								<label>Jumlah</label>
								<input type="number" name='jumlah' id='jumlahAkte' class='form-control' placeholder='Enter Jumlah'>
								<label>Tanggal</label><input name='tanggal' id='tanggalAkte' class='form-control tgl1' placeholder='Enter Tanggal'>
								<label>Kota</label><select id='kotaAkte' name="kota" class='form-control kotakPlh2'></select>
							</div>
							<div class="modal-footer">
								<button type="button" id='subak' class="btn btn-info">Submit</button><button type="reset" class="btn btn-info">Reset</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal fade bs-example-modal-lg" id="modalLahir" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
				<div class="modal-dialog modal-lg">
					<div style='padding:20px;' class="modal-content">
						 <h2 id="modalKotaH2">Tambah Data Kelahiran</h2>
						 <hr>
							<div class="modal-body">
								<form id="datastkelahiran_form" name="datastkelahiran_form" method="post" action="">
								<div class="form-group">
								<label>Jumlah</label>
								<input type="number" name='jumlah' id='jumlahKelahiran' class='form-control' placeholder='Enter Jumlah'>
								<label>Tanggal</label><input name='tanggal' id='tanggalKelahiran' class='form-control tgl2' placeholder='Enter Tanggal'>
								<label>Kota</label><select id='kotaKelahiran' name="kota" class='form-control kotakPlh2'></select>
							</div>
							<div class="modal-footer">
								<button type="button" id='subkel' class="btn btn-info">Submit</button><button type="reset" class="btn btn-info">Reset</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>