<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="/akteku/#" class="simple-text">
                    <img src='imgs/Logo_Provinsi_Kepri.png' style='width:100px;' />
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="/akteku/#">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
				
                <li class="active">
                    <a href="/akteku/#/visimisi">
                        <i class="pe-7s-news-paper"></i>
                        <p>Visi Misi</p>
                    </a>
                </li>
				
				 <li>
                    <a href="login.php">
						<i class="pe-7s-user"></i>
						<p>Logout</p>
                    </a>
                 </li>
				
				<!--
                <li>
                    <a href="table.html">
                        <i class="pe-7s-note2"></i>
                        <p>Table List</p>
                    </a>
                </li>
                <li>
                    <a href="typography.html">
                        <i class="pe-7s-news-paper"></i>
                        <p>Typography</p>
                    </a>
                </li>
                <li>
                    <a href="icons.html">
                        <i class="pe-7s-science"></i>
                        <p>Icons</p>
                    </a>
                </li>
                <li>
                    <a href="maps.html">
                        <i class="pe-7s-map-marker"></i>
                        <p>Maps</p>
                    </a>
                </li>
                <li>
                    <a href="notifications.html">
                        <i class="pe-7s-bell"></i>
                        <p>Notifications</p>
                    </a>
                </li>
				-->
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Dinas Kependudukan dan Pencatatan Sipil - Provinsi Kepulauan Riau</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="login.php">
                                Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12" id='pages'>
						<h2>Visi</h2>
						<ul>
							<li>Terwujudnya pelayanan yang baik dan tertib administrasi kependudukan dan catatan sipil dengan teknologi informasi.</li>
						</ul>
						
						<h2>Misi</h2>
						<ul>
							<li>Membangun sistim Admnistrasi Kependudukan dan Catatan Sipil dengan Tekhnologi Informasi</li>
							<li>Menyediakan data Kependudukan dan Catatan Sipil yang valid dan akurat</li>
							<li>Pembinaan Penyelenggaraan kependudukan dan catatan sipil</li>
							<li>Mengendalikan pertumbuhan dan Penyebaran Penduduk.</li>
						</ul>
						
						<h2>Tujuan</h2>
						<ul>
							<li>Tersedianya database kependudukan dan catatan sipil yang valid dan akurat.</li>
							<li>Diketahuinya dengan mudah angka kelahiran, kematian dan migrasi.</li>
							<li>Tersedianya sistem pengelolaan administrasi keependudukan yang terintegrasi.</li>
							<li>Mengembangkan dan mendorong kualitas penduduk diwilayah Kepulauan Riau untuk mencapai keluarga yang sejahtera.</li>
							<li>Membantu memberikan informasi kepada masyarakat untuk mengembangkan kualitas penduduk.</li>
							<li>Adanya koordinasi dalam rangka penyebaran penduduk.</li>
							<li>Adanya koordinasi dalam rangka pengendalian penduduk terutama yang berada di daerah pusat pertumbuhan.</li>
							<li>Terciptanya kebijakan yang mendukung tugas dan fungsi Dinas Kependudukan dan Catatan Sipil guna tercapainya Visi dan Misi daerah.</li>
						</ul>
						
						<h2>Strategi</h2>
						<ul>
							<li>Menyediakan dan mengembangkan sistem informasi dibidang kependudukan dan Catatan Sipil di Provinsi Kepulauan Riau.</li>
							<li>Melakukan,mengembangkan dan menyediakan data – data kependudukan yang akurat dan menyeluruh untuk kepentingan pembangunan di wilayah ini.</li>
							<li>Mengembangkan dan menetapkan kebijakan kependudukan dan Catatan Sipil di Provinsi Kepulauan Riau.</li>
							<li>Mengembangkan kerjasama dan koordinasi dengan berbagai pihak dalam kerangka pembangunan di bidang kependudukan dan catatan sipil di Provinsi Kepulauan Riau.</li>
							<li>Meningkatkan Kualitas Pembinaan Kependudukan dengan menitikberatkan pendekatan sosial ekonomi, sosial Budaya lingkungan dan <li>spesifikasi geografis setempat untuk menciptakan keselarasan,keseimbangan dan kemandirian masyarakat.</li>
							<li>Membangun akuntabilitas kinerja dinas untuk mewujudkan good governance.</li>
							<li>Mengendalikan pertembuhan dan penyebaran penduduk.</li>
						</ul>
						
                    </div>
                </div>
            </div>
        </div>
		
		
		
        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright pull-right">
                   Dinas Kependudukan dan Pencatatan Sipil - Provinsi Kepulauan Riau &copy; 2016
                </p>
            </div>
        </footer>

    </div>
</div>